html * {
    font-family: 'Roboto', sans-serif;
}

.form-group {
    width: 100%;
}
#username, #repository, #get-stats-button {
    margin-top: 10px;
    width: 100%;
}

#stats-result {
    margin-top: 50px;
    margin-bottom: 40px;
}

.error {
    background-color: rgba(231, 76, 60, 0.2);
    border: solid 1px rgba(231, 76, 60, 0.4);
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

.total-downloads {
    margin-bottom: 25px;
    text-align: center;
}

.total-downloads h2 {
    display: inline;
    font-size: 18px;
    margin-right: 10px;
}

.release {
    background-color: rgba(127, 140, 141, 0.2);
    border: solid 1px rgba(127, 140, 141, 0.4);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.latest-release {
    background-color: rgba(52, 152, 219, 0.2);
    border: solid 1px rgba(52, 152, 219, 0.4);
}

.latest-release-hr {
    border-top-color: rgba(52, 152, 219, 0.4);
}

.release-hr {
    border-top-color: rgba(127, 140, 141, 0.4);
}

#loader-gif {
    position: absolute;
    bottom: 15%;
    left: 47%;
}

#description {
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 40px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(210, 210, 210, 0.2);
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgba(210, 210, 210, 0.4);
}

#ads {
    margin-top: 20px;
}

